* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar {
  display: flex;
  width: 100%;
  height: 100px;
}
.navbarleft {
  background-color: #190a5e;
  display: flex;
  flex: 50%;
}

.navbarright {
  background-color: #553511;
  flex: 50%;
  display: flex;
}
.navbarright ul {
  display: flex;
  flex-direction: row;
}
.navbarright ul li {
  text-decoration: none;
  list-style: none;
  padding: 20px;
  margin: auto;
  font-size: 1.2rem;
}
.navbarright ul li:hover {
  color: #fff;
}
.cards {
  background-color: aqua;
  height: 80vh;
  display: flex;
}
.cards .card1 {
  display: flex;
  flex: 25%;
  background-color: #5e3c0a;
  height: 500px;
  width: 250px;
  margin: 30px 20px;
}
.cards .card2 {
  display: flex;
  flex: 25%;
  background-color: #185e0a;
  height: 500px;
  width: 250px;
  margin: 30px 20px;
}
.cards .card3 {
  display: flex;
  flex: 25%;
  background-color: #5e580a;
  height: 500px;
  width: 250px;
  margin: 30px 20px;
}
.cards .card4 {
  display: flex;
  flex: 25%;
  background-color: #5e0a50;
  height: 500px;
  width: 250px;
  margin: 30px 20px;
}

.second-cards {
  background-color: #280236;
  height: 80vh;
  display: flex;
}
.firstCard {
  display: flex;
  flex: 33.3%;
  background-color: #5aa846;
  height: 500px;
  width: 200px;
  margin: 50px 25px;
}
.secondCard {
  display: flex;
  flex: 33.3%;
  background-color: #924c2c;
  height: 500px;
  width: 200px;
  margin: 50px 25px;
}
.thirdCard {
  display: flex;
  flex: 33.3%;
  background-color: #1d4497;
  height: 500px;
  width: 200px;
  margin: 50px 25px;
}
